In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame(np.random.rand(8,4),columns=list('ABCD'))

In [5]:
df

          A         B         C         D
0  0.582945  0.610166  0.743604  0.608797
1  0.269803  0.180999  0.911427  0.472439
2  0.820691  0.492330  0.358395  0.628337
3  0.489957  0.243634  0.604895  0.240211
4  0.093635  0.548510  0.619123  0.826257
5  0.452870  0.682627  0.582939  0.019110
6  0.749030  0.197417  0.788048  0.345962
7  0.611183  0.240633  0.149148  0.181240

In [6]:
df[['A','B']]

          A         B
0  0.582945  0.610166
1  0.269803  0.180999
2  0.820691  0.492330
3  0.489957  0.243634
4  0.093635  0.548510
5  0.452870  0.682627
6  0.749030  0.197417
7  0.611183  0.240633

In [7]:
df

          A         B         C         D
0  0.582945  0.610166  0.743604  0.608797
1  0.269803  0.180999  0.911427  0.472439
2  0.820691  0.492330  0.358395  0.628337
3  0.489957  0.243634  0.604895  0.240211
4  0.093635  0.548510  0.619123  0.826257
5  0.452870  0.682627  0.582939  0.019110
6  0.749030  0.197417  0.788048  0.345962
7  0.611183  0.240633  0.149148  0.181240

In [8]:
df = pd.DataFrame({'one':[1,2,3]})

In [9]:
df.two = [1,2,3]

In [10]:
df

   one
0    1
1    2
2    3

In [11]:
df['two']=[2,3,4]

In [12]:
df

   one  two
0    1    2
1    2    3
2    3    4

In [13]:
df = pd.DataFrame(np.random.rand(5,4),columns=list('ABCD'),index=list('abcde'))

In [14]:
list(df.index)

['a', 'b', 'c', 'd', 'e']

In [15]:
df

          A         B         C         D
a  0.960048  0.666490  0.652218  0.209688
b  0.087147  0.058409  0.344663  0.186016
c  0.182697  0.822655  0.621990  0.467674
d  0.817810  0.751983  0.258478  0.371002
e  0.020454  0.567736  0.119659  0.438053

In [16]:
df.loc[lambda df:df['A']>.50,:]

          A         B         C         D
a  0.960048  0.666490  0.652218  0.209688
d  0.817810  0.751983  0.258478  0.371002

In [17]:
df.loc[lambda df:list(df[df['A']>.5].index)]

          A         B         C         D
a  0.960048  0.666490  0.652218  0.209688
d  0.817810  0.751983  0.258478  0.371002

In [18]:
list(df[df['A']>.5].index)

['a', 'd']

In [19]:
a=lambda df:1

In [20]:
a(df)

1

In [21]:
a(0)

1

In [22]:
a

In [23]:
df.iloc[[0,2],df.columns.get_loc('A')]

a    0.960048
c    0.182697
Name: A, dtype: float64

In [24]:
df.iloc[[0,2],df.columns.get_indexer(['A','C'])]

          A         C
a  0.960048  0.652218
c  0.182697  0.621990

In [25]:
s = pd.Series([1,2,3])

In [26]:
s

0    1
1    2
2    3
dtype: int64

In [27]:
s.loc[[1,2]]

1    2
2    3
dtype: int64

In [28]:
s.loc[[1,2,3]]

1    2.0
2    3.0
3    NaN
dtype: float64

In [29]:
s.reindex([0,1,2,3])

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [30]:
s.iloc[s.index.intersection([0,1,2,3])]  # No use as index not start with 1

0    1
1    2
2    3
dtype: int64

In [31]:
s.index = [1,2,3]

In [32]:
s

1    1
2    2
3    3
dtype: int64

In [33]:
s.iloc[s.index.intersection([1,2])]   # Got it Now

2    2
3    3
dtype: int64

In [34]:
s = pd.Series(np.arange(4),index=list('aabc'))

In [35]:
s

a    0
a    1
b    2
c    3
dtype: int64

In [36]:
s.loc[s.index.intersection(['c','d'])]

c    3
dtype: int64

In [37]:
s.loc[s.index.intersection(['c','d'])].reindex(['c','d'])

c    3.0
d    NaN
dtype: float64

In [38]:
s.loc[s.index.intersection(['a','d'])].reindex(['a','d'])

ValueError: cannot reindex from a duplicate axis

In [39]:
s = pd.Series(np.arange(6))

In [40]:
s

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [41]:
s.sample()

0    0
dtype: int64

In [42]:
s.sample(n=4)

3    3
4    4
2    2
5    5
dtype: int64

In [43]:
s.sample(frac=.8)

2    2
5    5
3    3
1    1
4    4
dtype: int64

In [44]:
s.sample(n=4,replace=True)

5    5
1    1
5    5
4    4
dtype: int64

In [45]:
s.sample(n=3,weights=[0,0.3,0,0,0.5,1],replace=True)

5    5
5    5
4    4
dtype: int64

In [49]:
s = pd.Series(np.arange(6),index=pd.MultiIndex.from_product([[0,1],['a','b','c']]))

In [50]:
s

0  a    0
   b    1
   c    2
1  a    3
   b    4
   c    5
dtype: int64

In [58]:
s.iloc[s.index.isin([0],level=0)]

0  a    0
   b    1
   c    2
dtype: int64